body,html {
  background: url(../images/stars.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, html{
  background-color: #060607;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-user-select: none; /* Chrome/Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}

h1{
  font-family: 'Amatica SC', cursive;
  font-weight: bold;
  color: white;
  font-size: 300%;
}

.name{
  padding-top: 5px;
  color: #8a8a8a;
  font-family: 'Amatica SC', cursive;
  font-size: 80%;
}

.content{
  left: 15px;
  position: absolute;
  top: 0px;
}

.glyphicon{
  color: grey;
  font-size: 180%;
}

.glyphicon:hover{
  color: white;
}

p{
  color: grey;
}
